notebooks/Initial Taxi EDA.ipynb
steam/📦 Summary of Normalization and Dimensional Modeling Work.docx
steam/achievements.csv
steam/reviews_cleaned.csv
steam/history.csv
steam/players.csv
steam/prices.csv
steam/prices_cleaned.csv
steam/private_steamids.csv
steam/purchased_games.csv
steam/reviews.csv
steam/achievements_cleaned.csv
steam/friends.csv
steam/games.csv
steam/games_ch.csv
steam/games_cleaned.csv
