data_steam/raw/achievements.csv
data_steam/raw/friends.csv
data_steam/raw/games.csv
data_steam/raw/history.csv
data_steam/raw/players.csv
data_steam/raw/prices.csv
data_steam/raw/private_steamids.csv
data_steam/raw/purchased_games.csv
data_steam/raw/reviews.csv

data_steam/cleaned/achievements_cleaned.csv
data_steam/cleaned/games_cleaned.csv
data_steam/cleaned/history_cleaned.csv
data_steam/cleaned/players_cleaned.csv
data_steam/cleaned/prices_cleaned.csv
data_steam/cleaned/reviews_cleaned.csv
data_steam/normalised/achievements_dim.csv
data_steam/normalised/date_achieved.csv
data_steam/normalised/date_created.csv
data_steam/normalised/date_price.csv
data_steam/normalised/date_release.csv
data_steam/normalised/date_review.csv
data_steam/normalised/dev_game_map.csv
data_steam/normalised/devs_dim.csv
data_steam/normalised/games_dim.csv
data_steam/normalised/genre_game_map.csv
data_steam/normalised/genres_dim.csv
data_steam/normalised/history_fact.csv
data_steam/normalised/language_game_map.csv
data_steam/normalised/languages_dim.csv
data_steam/normalised/players_dim.csv
data_steam/normalised/prices_fact.csv
data_steam/normalised/publisher_game_map.csv
data_steam/normalised/publishers_dim.csv
data_steam/normalised/reviews_fact.csv
